<include file="Public/min-header" />
<style type="text/css">
	.form-group input{
	    height:30px;
	    width: 150px;
	    border-radius: 3px;
	    border: 1px solid #ccc;
	    padding-left: 5px;
	 }
</style>
<div class="wrapper">
    <include file="Public/breadcrumb"/>
	<section class="content">
       <div class="row">
       		<div class="col-xs-12">
	       		<div class="box">
	             <div class="box-header">
	               	<nav class="navbar navbar-default">	     
				        <div class="collapse navbar-collapse">
				          <form class="navbar-form form-inline" action="{:U('Admin/index')}" method="post">
				            <div class="form-group">
				              	<input type="text" name="keywords" placeholder="搜索">
				            </div>

				            <input type="hidden" name="{$pageCount}">
				            <button style="width: 49px;height: 30px;padding: 0 0;line-height: 29px;background-color: #3c8dbc;border-color: #367fa9;color: #fff"  type="submit" class="btn btn-default">提交</button>
				            <div class="form-group pull-right">
					            <a href="{:U('Admin/admin_info')}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>添加管理员</a>
				            </div>		          
				          </form>		
				      	</div>
	    			</nav>  
	             </div>	             
	             <div class="box-body">	               
	           		<div class="row">
	            	<div class="col-sm-12">
		              <table id="list-table" class="table table-bordered table-striped dataTable">
		                 <thead>
		                   <tr role="row">
			                   <th style="text-align: center;">ID</th>
			                   <th style="text-align: center;">工号</th>
                               <th style="text-align: center;">手机号码</th>
			                   <th style="text-align: center;">所属角色</th>
                               <th style="text-align: center;">加入时间</th>
			                   <th style="text-align: center;">最后登陆时间</th>
			                   
			                   <th style="text-align: center;">操作</th>
		                   </tr>
		                 </thead>
						<tbody>
						  <foreach name="list" item="vo" key="k" >
						  	<tr role="row" align="center">
		                     <td>{$vo.admin_id}</td>
		                     <td>{$vo.user_name}</td>
                             <td>{$vo.mobile}</td>
		                     <td>{$vo.role}</td>
                              <td>{$vo.add_time}</td>
		                     <td>{$vo.last_login}</td>
		                    
		                     <td>
		                      <a class="btn btn-primary" href="{:U('Admin/admin_info',array('admin_id'=>$vo['admin_id']))}"><i class="fa fa-pencil"></i></a>
		                      <if condition="$vo['admin_id'] gt 1">
		                      <a class="btn btn-danger" href="javascript:void(0)" data-url="{:U('Admin/adminHandle')}" data-id="{$vo.admin_id}" onclick="delfun(this)"><i class="fa fa-trash-o"></i></a>
							  </if>
							</td>
		                   </tr>
		                  </foreach>
		                   </tbody>
		                 <tfoot>		                 
		                 </tfoot>
		               </table>	 
	               </div>
	          </div>
              <div class="row">
                    <div class="text-center">{$page}</div>		
              </div>
	         </div>
	        </div>
       	</div>
       </div>
   </section>
</div>
<script>
function delfun(obj){
	if(confirm('确认删除')){		
		$.ajax({
			type : 'post',
			url : $(obj).attr('data-url'),
			data : {act:'del',admin_id:$(obj).attr('data-id')},
			dataType : 'json',
			success : function(data){
				if(data==1){
					$(obj).parent().parent().remove();
				}else{
					layer.alert(data, {icon: 2});   //alert('用户名或密码不能为空');// alert(data);
					layer.closeAll();
				}
			}
		})
	}
	return false;
}
//选择展示条数时触发
$("#selectPage").change(function(){
    var pageCount = $('#selectPage').val();
    $('.pagination  a').each(function(index, el) {
        var result = getStrParam('pageCount',$(this).attr('href'));
        // 如果已经拼接 则替换
        if (result) {
            var _href = reStrParam($(this).attr('href'),pageCount);
        }else{
            var _href = $(this).attr('href')+'/pageCount/'+pageCount;
        }
        $(this).attr('href',_href);
        
    });
    window.location.href="{:U('admin/index')}/p/1/pageCount/"+pageCount;
});
</script> 
</body>
</html>