<include file="Public/min-header" />
<div class="wrapper">
    <include file="Public/breadcrumb"/>
    <section class="content ">
        <!-- Main content -->
        <div class="container-fluid">
            <div class="pull-right">
                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回管理员列表"><i class="fa fa-reply"></i></a>
            	
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i> 新增商圈</h3>
                </div>
                <div class="panel-body ">   
                    <!--表单数据-->
                    <form method="post" id="adminHandle" action="{:U('System/area')}">                    
                        <!--通用信息-->
                    <div class="tab-content col-md-10">                 	  
                        <div class="tab-pane active" id="tab_tongyong">                           
                            <table class="table table-bordered">
                              
                               
                                                                                   
                                <tr>
                                	<td>商圈名称：</td>
                                    <td><input type="text" name="name"></td>
                                </tr>
                                <tfoot>
                                	<tr>
                                	<td>
                                		<input type="hidden" name="id" value="{$info.id}">
                                	</td>
                                	<td class="text-center"><input class="btn btn-primary" type="button" onclick="adsubmit()" value="保存"></td></tr>
                                </tfoot>                               
                            </table>
                        </div>                           
                    </div>              
			    	</form><!--表单数据-->
                </div>
            </div>
        </div>
    </section>
</div>
<script>
function adsubmit(){
	$('#adminHandle').submit();
}

function add_right(){
	var a = [];
	$('#rightList .form-control').each(function(i,o){
		if($(o).val() != ''){
			a.push($(o).val());
		}
	})
	var ncode = $('#controller').val();
	if(ncode !== ''){
		var temp = ncode+'@'+ $('#act_list').val();
		if($.inArray(temp,a) != -1){
			layer.msg('此权限码已经添加！', {icon: 2,time: 1000});
			return false;
		}
	}
	var strtr = '<tr>';
	if(ncode!= ''){
		strtr += '<td><input type="text" name="right[]" value="'+ncode+'@'+ $('#act_list').val()+'" class="form-control" style="width:400px;"></td>';
	}else{
		strtr += '<td><input type="text" name="right[]" value="" class="form-control" style="width:400px;"></td>';
	}		
	strtr += '<td><a href="javascript:;" onclick="$(this).parent().parent().remove();">删除</a></td>';
	$('#rightList').append(strtr);	
}

function get_act_list(obj){
	$.ajax({
		url: "{:U('System/ajax_get_action')}",
		type:'post',
		data: {'controller':$(obj).val()},
		dataType:'html',
		success:function(res){
			$('#act_list').empty().append(res);
		}
	});
}
</script>
</body>
</html>