<include file="Public/min-header"/>
<link href="__PUBLIC__/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/plugins/daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
<div class="wrapper">
  <include file="Public/breadcrumb"/>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-vo"></i> 每日库存报表</h3>
                </div>
                <div class="panel-body">
                    <div class="navbar navbar-default">
                            <form action="{:U('SaleWaterRepertory/index')}" id="search-form2" class="navbar-form form-inline" method="post" url="{:U('SaleWaterRepertory/index')}">
                                <div class="form-group" style="margin-top: 3px;">
                                    <label class="control-label" for="input-date-added">日期</label>
                                    <div class="input-group">
                                        <input type="text" name="timegap" value="{$timegap}" placeholder="日期"  id="add_time" class="input-sm">
                                    </div>
                                </div>
                                <div class="form-group" style="margin-left: 20px;">
                                    <label class="control-label" for="input-order-id">仓库名称</label>
                                    <select style="height:29px;" name="id" class="id changeColor" id="id">
                                        <option value="0">选择仓库</option>
                                            <volist name="repertory" id="item">
                                            <option value="{$item.id}" <if condition="$item[id] eq $id"> selected="selected"</if>>
                                            {$item.repertory_name}
                                            </option>
                                        </volist>                  
                                    </select>
                                </div>
                                <div class="form-group" style="margin-left: 20px;">
                                    <label class="control-label" for="input-order-id">商品编号</label>
                                    <div class="input-group">
                                        <input style="width: 120px;height: 29px" type="text" name="sku" value="{$sku}" placeholder="商品编号" id="input-member-id" class="form-control goods_sku">
                                        <!-- <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></span> -->
                                    </div>
                                </div>
                                <input type="hidden" name="pageCount" id="pageCount" value="{$pageCount}">
                                <button type="submit"  id="search_limit" class="btn btn-primary "><i class="fa fa-search"></i> 筛选</button>
                                <a style="margin-left: 20px;" class="btn_export btn btn-default pull-right" url="{:U('SaleWaterRepertory/export_order')}"><i class="fa fa-file-excel-o"></i>&nbsp;导出</a>
                                <!-- <a style="margin-left: 20px;" href="javascript:;" class="btn_leading btn btn-default pull-right"><i class="fa fa-file-excel-o"></i>&nbsp;导入</a>
                                <a href="__PUBLIC__/muban/goodsLimit.xls" class="btn btn-default pull-right"><i class="fa fa-file-excel-o"></i>&nbsp;下载模板</a> -->
                            </form>
                    </div>
                    <div class="box-body">               
                    <div class="row">
                    <div class="col-sm-12">
                      <table id="vo-table" class="table table-bordered table-striped dataTable">
                         <thead>
                           <tr role="row">
                               <th class="sorting" tabindex="0">商品编号</th>
                               <th style="width: 183px" class="sorting" tabindex="0">商品名称</th>
                               <th class="sorting" tabindex="0">单位</th>
                               <th class="sorting" tabindex="0">仓库名称</th>
                               <th class="sorting" tabindex="0">期初</th>
                               <th style="width: 103px" class="sorting" tabindex="0">门店返回</th>
                               <th class="sorting" tabindex="0">进货</th>
                               <th class="sorting" tabindex="0">出库</th>
                               <!-- <th class="sorting" tabindex="0">销售额</th> -->
                               <th class="sorting" tabindex="0">返厂</th>
                               <th class="sorting" tabindex="0">期末</th>
                           </tr>
                         </thead>
                        <tbody>
                          <foreach name="info" item="vo" key="k" >
                            <tr role="row" >
                             <td>{$vo.sku}</td>
                             <td>{$vo.goods_name}</td>
                             <td>{$vo.spu}</td>
                             <td>{$vo.repertory_name}</td>
                             <td>{$vo['beginning']?$vo['beginning']:'0'}</td>
                             <td>{$vo['return_number_store']?$vo['return_number_store']:'0'}</td>
                             <td>{$vo['inner_number']?$vo['inner_number']:'0'}</td>
                             <td>{$vo['outer_number']?$vo['outer_number']:'0'}</td>
                             <!-- <td>{$vo['total_amount']?$vo['total_amount']:'0'}</td> -->
                             <td>{$vo['return_number']?$vo['return_number']:'0'}</td>
                             <td>{$vo['ending']?$vo['ending']:'0'}</td>
                           </tr>
                          </foreach>
                           </tbody>
                       </table>
                   </div>
              </div>
              <div class="row">
                    <div class="col-sm-12 text-center">{$page}</div>        
              </div>
              </div>


                </div>
            </div>
        </div>        <!-- /.row -->
    </section>
</div>
<script type="text/javascript">
$(function(){
$('#add_time').daterangepicker({
      format:"YYYY/MM/DD",
      singleDatePicker: false,
      showDropdowns: true,
      minDate:'2016/01/01',
      maxDate:'2030/01/01',
      startDate:'2016/01/01',
        locale : {
              applyLabel : '确定',
              cancelLabel : '取消',
              fromLabel : '起始时间',
              toLabel : '结束时间',
              customRangeLabel : '自定义',
              daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
              monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月','七月', '八月', '九月', '十月', '十一月', '十二月' ],
              firstDay : 1
          }
    });


//选择展示条数时触发
$("#selectPage").change(function(){
    var pageCount = $('#selectPage').val();
    $('#pageCount').val(pageCount);
    $('.pagination  a').each(function(index, el) {
        var result = getStrParam('pageCount',$(this).attr('href'));
        // 如果已经拼接 则替换
        if (result) {
            var _href = reStrParam($(this).attr('href'),pageCount);
        }else{
            var _href = $(this).attr('href')+'/pageCount/'+pageCount;
        }
        $(this).attr('href',_href);
        
    });
    window.location.href="{:U('SaleWaterRepertory/index')}/p/1/pageCount/"+pageCount;
});
});
$(function(){
  $(".btn_export").click(function(){
    var form = $(this).parent().parent().find("form");
    var export_ur = $(this).attr('url');
    form.attr('action', export_ur).attr('target', '_self').submit();

  });
  $("#search_limit").click(function(){
    if($(".btn_export").length>0)   
    {   
      var form = $(this).parent().parent().find("form");
      var search_url = form.attr('url');
      form.attr('action', search_url).attr('target', '_self');
    }   
  });
});
$('.changeColor').on('change',function () {
    $(this).css('color','red').find("option").css('color','red');
    $(this).find("option:not(:selected)").css('color','#999');
    return false;
});
if ('{$id}') {
  $('#id').css('color','red').find("option").css('color','red');
  $('#id').find("option:not(:selected)").css('color','#999');
}
</script>
</body>
</html>