<include file="Public/min-header" />
<div class="wrapper">
  <include file="Public/breadcrumb"/>
    <section class="content ">
        <!-- Main content -->
        <div class="container-fluid">
            <div class="pull-right">
                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
                <a href="javascript:;" class="btn btn-default" data-url="###/Doc/Index/article/id/1005/developer/user.html" onclick="get_help(this)"><i class="fa fa-question-circle"></i> 帮助</a>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i> 新增会员消费管理</h3>
                </div>
                <div class="panel-body ">   
                    <!--表单数据-->
                    <form method="post" id="handleposition" action="{:U('Admin/User/addconsumption')}">                    
                        <!--通用信息-->
                    <div class="tab-content col-md-10">                 	  
                        <div class="tab-pane active" id="tab_tongyong">                           
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td class="col-sm-2">活动名称：</td>
                                    <td class="col-sm-4">
                                        <input type="text" class="form-control" name="title" value="{$info.title}" >
                                        <span id="err_attr_name" style="color:#F00; display:none;"></span>                                        
                                    </td>
                                    <td class="col-sm-4">不超过十个字
                                    </td>
                                </tr>  
                                <tr>
                                    <td>单笔订单金额：</td>
                                    <td >
                         			
                                         <input type="text" value="{$info.amount}" name="amount" class="form-control" style="width:150px;" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" />
                                    </td>
                                    <td class="col-sm-4">超过多少元</td>
                                </tr>
                                <tr>
                                    <td>活动类型：</td>
                                    <td>
                               			<input type="radio" name="is_cate" value="1" onclick="checks(1)" <eq name="info.is_cate" value="1">checked="checked"</eq>  > 赠送额外积分 <input type="radio" name="is_cate" value="2"   <eq name="info.is_cate" value="2">checked="checked"</eq>  onclick="checks(2)"> 赠送优惠券                                    </td>
                                    <td class="col-sm-4"></td>
                                </tr>  
                                <tr id="cates_id1" <eq name="info.is_cate" value="2"> style="display:none;"</eq>>
                                    <td>获取积分比例：</td>
                                    <td>
                             			<input  name="ps" value="{$info.ps}" class="form-control" >
                                    </td>
                                    <td class="col-sm-4">额外获取的积分为（订单金额-下限金额）%百分比</td>
                                </tr> 
                                 <tr id="cates_id2" <eq name="info.is_cate" value="1"> style="display:none;"</eq>>
                                    <td>选择优惠券：</td>
                                    <td>
                                    <select class="small form-control" name="coupon_id" id="coupon_id">
                                   	 <option value="0">选择优惠卷</option>
                                     <volist name="lists" id="vo">
                                     <option value="{$vo.id}" <eq name="vo.id" value="$info.coupon_id">selected="selected"</eq>>{$vo.name}-优惠金额：¥{$vo.money}</option>
                                    </volist>
                                    </select>
                                    </td>
                                    <td class="col-sm-4"><div class="navbar-form row">
					            <a href="{:U('User/addconsumption')}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>新增优惠券</a>
				            </div></td>
                                </tr> 
                                 <tr>
                                    <td>适用会员</td>
                                    <td colspan="2">
                             			<volist name="user_level" id="vos"><input type="checkbox" name="user_level[]" value="{$vos.level_id}" onclick="choosebox({$vos.level_id})" <?php  $a=strpos($info['user_level'],$vos['level_id']);  if($a!==false){ ?> checked="checked" <?php }  ?>  > {$vos.level_name}</volist>
                                    </td>
                                   
                                </tr>                                         
                                </tbody> 
                                <tfoot>
                                	<tr>
                                	<td><input type="hidden" name="act" value="{$act}">
                                		<input type="hidden" name="id" value="{$info.id}">
                                	</td>
                                	<td class="col-sm-4">总计：<span id="membercount">0</span>人</td>
                                	<td class="text-right">
                                    <input class="btn btn-primary" type="buuton" onclick="adsubmit()" value="保存">  
                                    <input class="btn btn-primary" type="button" onclick="javascript:history.go(-1)" value="取消"></td></tr>
                                </tfoot>                               
                                </table>
                        </div>                           
                    </div>              
			    	</form><!--表单数据-->
                </div>
            </div>
        </div>
    </section>
</div>
<script>
function adsubmit(){
	$('#handleposition').submit();
}
function checks(id){
	if(id==1){
		$("#cates_id1").show();
		$("#cates_id2").hide();
	}else if(id==2){
		$("#cates_id2").show();
		$("#cates_id1").hide();
	}
}
function choosebox(id){
 	 $.ajax({
			url:"/index.php?m=Admin&c=User&a=getUserCount&id="+id,
			success: function(v){	
                        $("#membercount").html(v); 
			}
		}); 
}
</script>
</body>
</html>